<main class="grid grid-cols-1 gap-6 p-6">
  <h1 class="font-bold text-2xl">Innebandy Stockholm week <%= @week %></h1>
  <%= link_to("Next week", {week: @week + 1}, class: "btn btn-blue") %>
  <% @results.each do |date, times| %>
    <div class="pl-3">
      <h2 class="font-bold text-lg"><%= date %></h2>
      <% times.sort.each do |time, locations| %>
        <div class="pl-3">
          <h3><%= "#{time.first(2)}:#{time.last(2)}" %></h3>
          <ul class="list-disc list-inside">
            <% locations.each do |location| %>
              <li>
                <%= link_to(
                  [location[:title], location[:id]].join(" - "),
                  "https://booking.stockholm.se/SearchScheme/Object_info.aspx?FacilityId=#{location[:id]}&ObjectId=#{location[:object_id]}&PartOfObject=+",
                  target: :_blank,
                  class: "link"
                ) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</main>
